.loadingContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.loadingAnimationContainer {
  width: 100px; 
  height: 100px; 
  overflow: hidden;
}

@media (max-width: 768px) {
  .loadingAnimationContainer {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 1200px) {
  .loadingAnimationContainer {
    width: 150px;
    height: 150px;
  }
}
